@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
#nasa-pic{
  background-color:black;
  font-family: 'Orbitron', sans-serif;
  color:silver;
  text-align:center;
   background-position:center;
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
}
.container{

  text-align:center;
  margin:auto;
  border-radius:1vh;

}
#text1{
  margin-left: 3vw;
  margin-right: 3vw;
}
#text-box{
  background-color: white;
  height:auto;
  color:black;
}
